<div class="popup category-list">
    <div class="panel">
        <span class="pull-right close" ng-click="$ctrl.onClose()"><i class="fa fa-close"></i></span>
        <div class="content">
            <h3>
                Other Categories
            </h3>
            <p>Choose the category that best fits your case</p>
            <ul>
                <li>
                    <a href="">Abuse (Child, Domestic, Sexual)</a>
                </li>
                <li>
                    <a href="">Lorem ipsum Dolorsitamet,</a>
                </li>
                <li>
                    <a href="">Agencies & Administration</a>
                </li>
                <li>
                    <a href="">Mian Euvelit</a>
                </li>
                <li>
                    <a href="">Automobile (DUI, Crimes, Speeding)</a>
                </li>
                <li>
                    <a href="">Miam Mempor</a>
                </li>
                <li>
                    <a href="">Automobiles (Accidents, Insurance)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
                <li>
                    <a href="">Banking (Business, Consumer)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
                <li>
                    <a href="">Abuse (Child, Domestic, Sexual)</a>
                </li>
                <li>
                    <a href="">Lorem ipsum Dolorsitamet,</a>
                </li>
                <li>
                    <a href="">Agencies & Administration</a>
                </li>
                <li>
                    <a href="">Mian Euvelit</a>
                </li>
                <li>
                    <a href="">Automobile (DUI, Crimes, Speeding)</a>
                </li>
                <li>
                    <a href="">Miam Mempor</a>
                </li>
                <li>
                    <a href="">Automobiles (Accidents, Insurance)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
                <li>
                    <a href="">Banking (Business, Consumer)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
                <li>
                    <a href="">Abuse (Child, Domestic, Sexual)</a>
                </li>
                <li>
                    <a href="">Lorem ipsum Dolorsitamet,</a>
                </li>
                <li>
                    <a href="">Agencies & Administration</a>
                </li>
                <li>
                    <a href="">Mian Euvelit</a>
                </li>
                <li>
                    <a href="">Automobile (DUI, Crimes, Speeding)</a>
                </li>
                <li>
                    <a href="">Miam Mempor</a>
                </li>
                <li>
                    <a href="">Automobiles (Accidents, Insurance)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
                <li>
                    <a href="">Banking (Business, Consumer)</a>
                </li>
                <li>
                    <a href="">Mempor Auctor (Estiarma, Toerusie)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
