<div class="popup find-lawyer">
    <div class="panel">
        <span class="pull-right close" ng-click="$ctrl.onClose()"><i class="fa fa-close"></i></span>
        <div class="content">
            <h3>
                <span class="number">3</span>
                Which <b>Family Law</b> issues(s) apply to your case?
            </h3>
            <ul>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Adoptions
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Child Support
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Guardianship
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Separations
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Child Custody and Visitation
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Divorce
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Paternity
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Spousal Support or Alimony
                        </label>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="findLawyer()" ng-disabled="isProcessing">
                    {{isProcessing ? 'Processing...' : 'Find A Lawyer Now'}}
                </button>
            </div>
        </div>
    </div>
</div>
