<div class="container">
    <div class="col-xs-12">
        <h1>Find a Lawyer for your Legal Issue</h1>
        <h2>Fast, Free and Confidential</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label>Enter Zip Code or City:</label>
        <div class="group">
            <span class="number">1</span>
            <input type="text" class="form-control"
                   id="zipcode" ng-model="zipcode"
                   placeholder="Does not have to be where you live"
                   uib-typeahead="zip for zip in zipCodeList | filter:$viewValue | limitTo:8">
        </div>
        <label>Choose a category:</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="number">2</span>
                {{ category ? category : 'Click to choose a legal category'}}
                <span class="fa fa-angle-down"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="category in categoryList">
                    <a href="#" <a ng-click="onSelectCategory(category)">{{category}}</a>
                </li>
            </ul>
        </div>
        <p class="find-category">Can't find your category? <a ng-click="$ctrl.showCategories()">Click here.</a></p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Client review LegalMatch lawyers</h3>
        <ul class="lawyers">
            <li ng-repeat="review in clientReviews">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-circle" ng-src="{{review.imageUrl}}" alt="">
                        <p class="name">{{ review.name }}</p>
                        <p class="address">{{ review.address }}</p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ review.category }}
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </h4>
                        <div class="quote">
                            &ldquo;{{ review.message }}
                        </div>
                        <a href="#" class="pull-right" ng-click="$ctrl.showReview({clientReview: review})">Read Review <img class="media-object" src="images/book.png"/></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>